/*-----------------------------------*\
  #reset.css
\*-----------------------------------*/

/**
 * copyright 2024 coding 24h
**/

 html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
	 ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
	margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
	display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
	font-size: 2em;
	margin: 0.67em 0;
  }
  
  /* Grouping content
	 ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
	 ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
	background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
	font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
	font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
  }
  
  sub {
	bottom: -0.25em;
  }
  
  sup {
	top: -0.5em;
  }
  
  /* Embedded content
	 ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
	border-style: none;
  }
  
  /* Forms
	 ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
	overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
	text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
	-webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
	padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
	vertical-align: baseline;
  }
  
/*-----------------------------------*\
  REMOVE THE DEFAULT VERTICAL SCROLLBAR IN IE 10+
\*-----------------------------------*/ 
  textarea {
	overflow: auto;
  }
  
/*-----------------------------------*\
  1. ADD THE CORRECT BOX SIZING IN IE 10
  2. REMOVE THE PADDING IN IE 10
\*-----------------------------------*/ 
  [type="checkbox"],
  [type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
  }
  
/*-----------------------------------*\
  CORRECT THE CURSOR STYLE INCREMENT AND DECREMENT BUTTONS IN CHROME
\*-----------------------------------*/ 
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
	height: auto;
  }
  
/*-----------------------------------*\
  1. CORRECT THE OLD APPEARANCE IN CHROME AN SAFARI
  2. CORRECT THE OUTLINE STYLE IN SAFARI
\*-----------------------------------*/  
  [type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
  }
  
/*-----------------------------------*\
  REMOVE THE INNER PADDING IN CHROME AND SAFARI ON MACOS
\*-----------------------------------*/ 
  [type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
  }
  
/*-----------------------------------*\
  1. CORRECT THE INABILITY TO STYLE CLICKABLE TYPES IN IOS AND SAFARI
  2. CHANGE FONT PROPERTIES TO 'inherit' IN SAFARI
\*-----------------------------------*/  
  ::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
  }
  
/*-----------------------------------*\
  ADD THE CORRECT DISPLAY IN EDGE, IE 10+, AND FIREFOX
\*-----------------------------------*/  
  details {
	display: block;
  }
  
/*-----------------------------------*\
  ADD THE CORRECT DISPLAY IN ALL BROWSERS
\*-----------------------------------*/  
  summary {
	display: list-item;
  }
  
/*-----------------------------------*\
  ADD THE CORRECT DISPLAY IN IE 10+
\*-----------------------------------*/  
  template {
	display: none;
  }
  
/*-----------------------------------*\
  ADD THE CORRECT DISPLAY IN IE 10
\*-----------------------------------*/  
  [hidden] {
	display: none;
  }
  

/*-----------------------------------*\
  VARIABLE 
\*-----------------------------------*/
  :root{
      --green: #1ec6b6;
      --light-grey: #f7f7f7;
      --dark: #0e1010;
      --trans: all 0.3s ease-in-out;
  }
/*-----------------------------------*\
  END VARIABLE
\*-----------------------------------*/

/*-----------------------------------*\
  CUSTOM CSS 
\*-----------------------------------*/
  html, body{
    font-family: "Roboto", sans-serif;
  }
  a{
    color: var(--dark);
    text-decoration: none;
  }
  ul{
    list-style: none;
  }
  button,input[type="submit"]{
    font-size: 1rem;
    cursor: pointer;
  }
  .container{
    max-width: 1320px;
    padding: 0 1rem;
    margin: 0 auto;
  }
  .flex{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-control{
    width: 100%;
    margin: 0.6rem 0;
    max-width: 500px;
    border: 1px solid #ffffff;
    padding: 0.7rem;
    border-radius: 0.2rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: transparent;
    outline: none;
    box-sizing: border-box;
  }
  .text{
    font-weight: 400;
    opacity: 0.9;
    line-height: 1.6;
    letter-spacing: 1px;
  }
  .btn{
    padding: 0.7rem 2.4rem;
    border-radius: 0.2rem;
    font-weight: 600;
    background: var(--green);
    color: #ffffff;
    border: 1px solid var(--green);
  }
  .btn:hover{
    opacity: 0.9;
    transition: var(--trans);
  }

  .py-4{
    padding: 4rem 0;
  }

  .my-2{
    margin: 2rem 0;
  }

  .shadow{
    box-shadow: 0px 0px 18px -4px rgba(109,109,109,0.64);
  }
  img{
    width: 100%;
    display:  block;
  }
  
  .site-link{
    font-size: 1rem;
    font-weight: 600;
    color: var(--green);
    transition: var(--trans);
  }
  .site-link:hover{
    opacity: 0.9;
  }
  .title-wrap{
    text-align: center;
    padding: 1.4rem 0;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .lg-title{
    font-size: 1.8rem;
  }

  .sm-title{
    display: block;
    color: #787878;
    font-weight: 300;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.7;
  }
/*-----------------------------------*\
  CUSTOM CSS 
\*-----------------------------------*/

/*-----------------------------------*\
  ANIMATIONS
\*-----------------------------------*/
  @keyframes bounce-in-top {
    0%{
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38%{
        transform: translateY(0);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    55%{
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }
    72%{
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    81%{
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }
    90%{
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    95%{
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }
    100%{
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
  }

  .resize-animation-stopper *{
    animation: none!important;
    transition: none!important;
  }
/*-----------------------------------*\
  ANIMATIONS
\*-----------------------------------*/