/*-----------------------------------*\
  #responsivecss
\*-----------------------------------*/
@media screen and (max-width: 460px) {
    .featured-item-content{
      transform: translateY(80%);
    }
}

@media screen and (min-width:678px){
    .testimonials-item::after{
      left: 4rem;
      transform: translateX(0);
    }
    .testimonials-item-info{
      left: 1rem;
      transform: translateX(0);
      text-align: left;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
} 

@media screen and (min-width: 768px) {
    .header__title p{
      font-size: 1.4rem;
    }
    
    .featured-row, .services-row, .footer-row , .gallery-row, .blog-row, .about-row{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    .about-row{
      align-items: center;
    }

    .about-left{
      margin: 0;
    }

    .popular-row , .facts-row, .contact-row{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0;
    }

    .facts-row{
      column-gap: 5rem;
    }

    .featured-item{
      margin: 0;
    }

    .footer-row{
      text-align: left;
    }

    .footer-item .socical-links{
      justify-content: start;
    }

    .socical-links li:nth-child(1){
      margin-left: 0;
    }

    .subcribe-form form{
      align-items: flex-start;
    }

    .contact-row, .auth-row{
      row-gap: 0;
    }

    .contact-form .form-control,
    .auth-from .form-control{
      margin-left: 0;
    }

    .contact-form .form-control:nth-child(1){
      margin-top: 0;
    }

    .contact-form .btn{
      margin-left: 0;
    }
    
    .contact-right{
      margin: 0;
    }

    .contact-icon{
      width: 45px;
      height: 45px;
      font-size: 1.4rem;
      margin: 0 1rem;
    }

    .contact-item{
      display: flex;
      align-items: flex-start;
      text-align: left;
    }

    .auth-item{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .contact-item:nth-child(1){
      margin-top: 0;
    }

}
@media screen and (min-width: 992px){
    .header__title h1{
      font-size: 4rem;
    }

    .header__form form{
      flex-direction: row;
      align-items: stretch;
    }

    .header__form .form-control, .header__form .btn{
      margin: 0 0.5rem;
    }

    .navbar .side__brand{
      width: 300px;
    }
    
    #nav-show-btn{
      display: none;
    }

    #navbar-collapse{
      display: block!important;
      background-color: transparent;
      transform: translateX(0);
      height: auto;
      padding: 0;
      position: static;
      width: 100%;
    }

    #nav-close-btn{
      display: none;
    }

    .navbar-nav{
      display: flex;
      justify-content: flex-end;
      margin: 0;
    }

    .nav-item{
      margin: 0;
      margin-left: 2rem;
    }

    .navbar-cng #navbar-collapse{
      background-color: transparent;
    }

    .testimonials-row, .about-row, .contact-row{
      display: grid;
      grid-template-columns: (2,1fr);
      gap: 2;
    }

    .facts-row{
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
    }

    
}

@media screen and (min-width: 1200px) {
    .testimonials-row, .blog-row{
      grid-template-columns: repeat(3, 1fr);
    }

    .footer-row, .gallery-row, .popular-row{
      grid-template-columns: repeat(4, 1fr);
    }

    .popular-row{
      gap: 0;
    }
}
@media screen and (min-width: 1400px) {
    .featured-row, .services-row, .testimonials-row{
      grid-template-columns: repeat(3, 1fr);
    }
}
/**
 * copyright 2024 coding 24h
**/