    <!-- Footer -->
     <footer class="py-4">
        <div class="container footer-row">
            <div class="footer-item">
                <a href="/" class="side__brand">
                    Love <span>Trip</span>
                </a>
                <p class="text">
                    Tự hào mang đến những chuyến du lịch tuyệt vời nhất dành cho các cặp đôi đang yêu nhau !!
                </p>
            </div>
            <div class="footer-item">
                <h2>Follow us on:</h2>
                <ul class="socical-links">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-google-plus"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-item">
                <h2>Popular place</h2>
                <ul>
                    <li><a href="#">Thailand</a></li>
                    <li><a href="#">VietNam</a></li>
                    <li><a href="#">Autralia</a></li>
                    <li><a href="#">Canada</a></li>
                    <li><a href="#">Dubai</a></li>
                </ul>
            </div>
            <div class="subcribe-form footer-item">
                <h2>Subcribe for Newsletter!</h2>
                <form action="" class="flex">
                    <input type="email" placeholder="Enter Email" class="form-control">
                    <input type="submit" placeholder="Enter Email" class="btn" value="Submit">
                </form>
            </div>
        </div>
     </footer>
    <!-- Footer -->
    <script src="js/client/app.js"></script>
</body>
</html>