<%-include('../partial/client/header.ejs')-%>
   <!-- header -->
    <header class="flex header-sm">
        <div class="container">
            <div class="header__title">
                <h1>About</h1>
                <p>Lorem ipsum dolor sit amet, consectetur 
                    adipisicing elit. Ut, 
                    exercitationem quos deserunt culpa quae maiores iusto necessitatibus 
                    quasi deleniti placeat molestiae possimus iste nulla unde nihil. 
                    Aut error porro reiciendis.</p>
            </div>
        </div>
    </header>
   <!-- header -->
   <!-- about sections -->
    <section id="about" class="py-4">
        <div class="container">
            <div class="title-wrap">
                <span class="sm-title">Về chúng tôi</span>
                <h2 class="lg-title">about for our</h2>
            </div>
            <div class="about-row">
                <div class="about-left my-2">
                    <img src="imgs/client/about-img.jpg" alt="">
                </div>
                <div class="about-right">
                    <h2>15 năm hoạt động</h2>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Ipsam at repellendus modi eaque vel libero consectetur ad perferendis quaerat labore, illo, 
                        architecto doloribus. Delectus veritatis quasi, nisi modi necessitatibus harum!. Lorem ipsum dolor sit amet, 
                        consectetur adipisicing elit. Deleniti expedita molestiae natus nisi officiis. 
                        Ab ratione doloremque dolore numquam rerum, officia, ipsam eveniet cumque, 
                        recusandae voluptate sunt atque praesentium neque!
                    </p>
                    <p class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Esse quia voluptates explicabo repellendus quas itaque nam minima? 
                        Porro doloremque quasi eos, 
                        animi sunt repellendus omnis architecto quam praesentium, consequuntur quae.
                    </p>
                </div>
            </div>
        </div>
    </section>
   <!-- about sections -->
   <!-- facts sections -->
    <section id="facts" class="py-4">
        <div class="container">
            <div class="title-wrap">
                <span class="sm-title">doanh số hoạt động</span>
                <h2 class="lg-title">FACTS</h2>
            </div>
            <div class="facts-row">
                <div class="facts-item">
                    <span class="fas fa-camera-retro"></span>
                    <div class="facts-info">
                        <strong>1220</strong>
                        <p class="text">
                            photo taken
                        </p>
                    </div>
                </div>
                <div class="facts-item">
                    <span class="fas fa-camera-retro"></span>
                    <div class="facts-info">
                        <strong>1220</strong>
                        <p class="text">
                            photo taken
                        </p>
                    </div>
                </div>
                <div class="facts-item">
                    <span class="fas fa-camera-retro"></span>
                    <div class="facts-info">
                        <strong>1220</strong>
                        <p class="text">
                            photo taken
                        </p>
                    </div>
                </div>
                <div class="facts-item">
                    <span class="fas fa-camera-retro"></span>
                    <div class="facts-info">
                        <strong>1220</strong>
                        <p class="text">
                            photo taken
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <!-- facts sections -->
  
<script src="js/client/blog.js"></script>
<%-include('../partial/client/footer.ejs')-%>