<%-include('../partial/client/header.ejs')-%>
   <!-- header -->
    <header class="flex header-sm">
        <div class="container">
            <div class="header__title">
                <h1>Contact</h1>
                <p>Lorem ipsum dolor sit amet, consectetur 
                    adipisicing elit. Ut, 
                    exercitationem quos deserunt culpa quae maiores iusto necessitatibus 
                    quasi deleniti placeat molestiae possimus iste nulla unde nihil. 
                    Aut error porro reiciendis.</p>
            </div>
        </div>
    </header>
   <!-- header -->
   <!-- contact sections -->
    <section id="contact" class="py-4">
        <div class="container">
            <div class="title-wrap">
                <span class="sm-title">Liên hệ đặt tour với chúng tôi</span>
                <h2 class="lg-title">Contact Page</h2>
            </div>
            <div class="contact-row">
                <div class="contact-left">
                    <form action="" class="contact-form">
                        <input type="text" class="form-control" placeholder="Your name">
                        <input type="text" class="form-control" placeholder="Your email">
                        <textarea rows="4" class="form-control" placeholder="Your message" style="resize: no;"></textarea>
                        <input type="submit" class="btn" value="Submit">
                    </form>
                </div>
                <div class="contact-right my-2">
                    <div class="contact-item">
                        <span class="contact-icon flex">
                            <i class="fa fa-phone-alt"></i>
                        </span>
                        <div>
                            <span>Phone</span>
                            <p class="text">+84 123.456.789</p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <span class="contact-icon flex">
                            <i class="fa fa-map-marked-alt"></i>
                        </span>
                        <div>
                            <span>Map</span>
                            <p class="text">180B, TL.15, Thạnh Lộc, Q.12, TP.HCM</p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <span class="contact-icon flex">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <div>
                            <span>Map</span>
                            <p class="text">anhdev24h@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <!-- contact sections -->
    
<%-include('../partial/client/footer.ejs')-%>